@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.text-blue {
  color: #2dcddf;
}

.text-secondary {
  color: #183153 !important;
}

.text-white {
  color: #fff;
}

.dark-mode {
  background-color: #202020 !important;
}

.light-mode {
  background-color: #fff !important;
}

.bg-secondary {
  background-color: #dddddd;
}

.btn-default {
  background-color: #2dcddf !important;
  padding: 10px 30px;
  border-radius: 10px !important;
  border: 2px solid #183153 !important;
  border-bottom: 5px solid #183153 !important;
}
.btn-default:hover {
  background-color: #0081c9 !important;
}

#iconBurger {
  color: white !important;
}

.active2 {
  background-color: #0081c9;
  border-radius: 10px;
}

#headerku ul li {
  margin-left: 5px;
}

.sticky {
  background-color: #183153;
  border-bottom: 3px solid #dddddd;
}

#icon-list {
  display: flex;
}

#icon-list li {
  margin-right: 10px;
}
/* Section Hero */
.hero {
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
  align-items: center;
}
.hero .hero-image {
  width: 40%;
}

/* Section Tentang Saya */
#tentangSaya {
  padding-top: 10rem;
}
#tentang-saya {
  padding: 0 2rem;
  width: 800px;
  border-radius: 20px;
  border: 2px solid #183153 !important;
  border-bottom: 10px solid #183153 !important;
  background-color: #dddddd;
}

/* Section Projectku */
#projectku {
  margin-top: 4rem;
  padding: 3rem 0;
  background-color: #f0f1f3;
}

#projectku .card {
  border: none !important;
  box-shadow: none !important;
}

#projectku .card .card-body {
  padding: 0 !important;
}

/* Footer */
footer {
  background-color: #183153;
}
footer a {
  color: #2dcddf;
}

@media (width < 576px) {
  .hero {
    text-align: center;
  }
  #tentangSaya {
    padding-top: 5rem;
  }
  #tentang-saya {
    padding: 0 1rem;
    width: 100%;
  }
  .hero .hero-image {
    display: none;
  }
  #projectku {
    margin-top: 50px;
    padding-top: 50px;
    background-color: #f0f1f3;
  }
}

@media (577px < width < 767px) {
  #tentang-saya {
    width: 100%;
  }
  #projectku {
    margin-top: 150px;
    padding-top: 550px;
    background-color: #f0f1f3;
  }
}
